<div class="container">
  <h1 class="eight columns">User Login</h1>
  <form class="eight columns" action="/sessions" method="post">
    <input class="u-full-width" type="text" name="Email" placeholder="Email Address" />
    <input class="u-full-width" type="password" name="Password" placeholder="Password" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input class="u-full-width button-primary" type="submit" name="login" value="Submit" />
  </form>
  <a href="/users/new">Create New User</a>
</div>
