<h1>Secrets</h1>

<% if @secrets %>
  <% @secrets.each do |s|%>
    <p>
      <span class="secret-title"><strong>Secret: </strong><q><%=s.content%></q></span>
        <form class="btn-link" action="/secrets/<%= s.id %>" method="post">
          <input type="hidden" method="_method" value="delete" />
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <input type="submit" value="Delete Secret" />
        </form><br />
      <strong>User:</strong> <%= s.user.name %>
    </p>
  <%end%>
<%end%>
